/* font-family: 'Nunito', sans-serif; */
/* font-family: 'Yeseva One', cursive; */

body {
  font-family: "Nunito", sans-serif;
  background-color: white;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.page-header {
  background-color: black;
  position: sticky;
  height: 80px;
  display: flex;
  flex-direction: row;
}

.page-logo {
  color: #e3b873;
}
