@import "helpers/optimize";
@import "helpers/fonts";
@import "helpers/variables";
@import "helpers/mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-font;
  background-color: white;
  font-weight: normal;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 27px;
}

hr {
  width: 55px;
  height: 1.54px;
  border-radius: 30px;
  background-color: $alt-color;
  border-style: none;
  margin-top: 62px;
  margin-bottom: 34px;
}

.link {
  text-decoration: none;
  font-family: $main-font;
  color: white;
  font-size: 11px;
}

.link:hover {
  text-decoration: underline;
  color: $alt-color;
}

.button {
  background-color: $alt-color;
  color: white;
  border-radius: 2px;
  font-size: 11px;
  font-family: $main-font;
  font-style: italic;
  text-transform: uppercase;
  border: 0;
  position: relative;
  top: 0;
  transition: background-color 0.2s;
  cursor: pointer;
  box-shadow: none;
}

.button:hover {
  // top: 1px;

  background-color: $alt-color--hover;
  // background-color: red;
  box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
}

.button--round {
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  // bottom: 0;
  // left: 0;
}

.title {
  font-family: $title-font;
  margin: 0;
  padding: 0;
  color: $alt-color;
  font-weight: normal;
  text-transform: uppercase;
}

.title::after {
  content: "";
  position: relative;
  display: block;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
}

.slider {
  position: relative;
}

.slider__controls {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
}

// .slider__button:hover {
//   box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
//   top: 1px;
// }

.slider__button--left {
  background-image: url('data:image/svg+xml,%3Csvg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M6.56569 12.478L1.08689 6.99975L6.56569 1.52147L7.34778 2.30348L2.65107 6.99975L7.34778 11.696L6.56569 12.478Z" fill="white" stroke="white" stroke-width="0.75"/%3E%3C/svg%3E');
  background-position: 45% center;
}

.slider__button--right {
  background-image: url('data:image/svg+xml,%3Csvg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M1.43431 1.52197L6.91311 7.00025L1.43431 12.4785L0.652222 11.6965L5.34894 7.00025L0.652222 2.30399L1.43431 1.52197Z" fill="white" stroke="white" stroke-width="0.75"/%3E%3C/svg%3E');
  background-position: 55% center;
}

.video-player {
  position: relative;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
  line-height: 0;
}

.video-player:after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  line-height: 0;
}

.video-player__controls {
  z-index: 1;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.video-player__button {
  // background-repeat: no-repeat;
  // background-color: $alt-color;
  width: 85px;
  height: 85px;
  // position: relative;
  // border-radius: 50%;
  // bottom: 0;
  // left: 0;
  // border: none;
  // transition: background-color 0.3s;
}

.video-player__button:hover {
  // box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  // background-color: $alt-color--hover;
  // top: 1px;
}

.video-player__button--play {
  background-image: url('data:image/svg+xml,%3Csvg width="21" height="26" viewBox="0 0 21 26" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M21 12.9999L7.65417e-07 25.1242L1.82536e-06 0.875522L21 12.9999Z" fill="white"/%3E%3C/svg%3E');
  background-position: 55% 53%;
}

.form {
  display: flex;
  flex-direction: row;
}

.input__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  line-height: 23px;
  color: rgba(54, 54, 54, 0.5);
  margin-bottom: 7px;
  margin-right: 45px;
}

.text-input,
.phone-input {
  border: none;
  font-size: 14px;
  line-height: 23px;
  color: #363636;
  margin-bottom: 8px;
  width: 230px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.page-wrap {
  display: flex;
  flex-direction: column;
}

.page-header {
  background-color: #131313;
  position: sticky;
  top: 0px;
  z-index: 10;
}

.header-wrap {
  height: 80px;
  max-width: 1256px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-logo {
  color: $alt-color;
  font-size: 11px;
}

.page-nav {
  margin: 0 67px 0 95px;
}

.page-nav__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.page-nav__item {
  margin-left: 47px;
}

.page-nav__item:first-child {
  margin-left: 0;
}

.page-nav__link {
  text-transform: uppercase;
}

.page-header__link {
  color: $alt-color;
  text-decoration: underline;
  top: 0;
  position: relative;
  transition: top 0.1s;
  transition: color 0.1s;
}

.page-header__link:hover {
  top: 1px;
  color: white;
}

.page-header__button {
  margin-left: 45px;
  padding: 13px 33px;
  height: 37px;
  box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
}

// .content-wrap {
// }

.section-wrap {
  max-width: 1236px;
  margin: 0 auto;
}

.hero {
  background-color: white;
  background-image: url(../images/interior-01-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 808px;
  position: relative;
}

.hero:after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
}

.hero__content-wrap {
  padding-left: 32px;
  padding-top: 194px;
  width: 676px;
  z-index: 1;
  position: relative;
  box-sizing: content-box;
}

.hero__title {
  color: white;
  font-size: 40px;
  line-height: 53px;
  margin-bottom: 20px;
}

.hero__title--alt-color {
  color: $alt-color;
}

.hero__text {
  font-size: 22px;
  line-height: 36px;
  color: white;
  margin-bottom: 40px;
  width: 504px;
}

.hero__button {
  background-color: $alt-color;
  width: 207px;
  height: 51px;
  // background-color: transparent;
  border: 1px solid $alt-color--hover;
  box-shadow: none;
  transition: background-color 0.2s;
}

.hero__button:hover {
  background-color: $alt-color--hover;
  box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
}

.hero__button:active {
  background-color: $alt-color;
  border: 1px solid $alt-color;
  box-shadow: none;
}

.hero__button--transparent {
  background-color: transparent;
  border: 1px solid white;
  box-shadow: none;
  transition: border 0.1s;
}

.hero__button--transparent:hover {
  border: 2px solid white;
  background-color: transparent;
  // transition: border 0.7s;
  box-shadow: 0px 15px 15px rgba(255, 255, 255, 0.15);
}

.hero__button ~ .hero__button--transparent {
  margin-left: 20px;
}

.projects {
  background-color: #131313;
  height: 1074px;
}

.projects__content-wrap {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 107px 32px 414px;
}
// .projects__content {
// }

.projects__description {
  height: 553px;
  // margin-right: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: flex-start;
  align-content: flex-start;
}

.projects__title {
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  margin-top: 70px;
  margin-bottom: 34px;
}

.projects__text {
  margin-bottom: 34px;
  max-width: 443px;
  margin-right: 50px;
}

.projects__properties {
  display: flex;
  flex-wrap: wrap;
  width: 443px;
}

.projects__property {
  width: 177px;
  margin-right: 13px;
  margin-bottom: 34px;
}

.projects__property:nth-child(even) {
  margin-right: 0px;
}
.projects__property:nth-child(n + 3) {
  margin-bottom: 0px;
}

.projects__property-title {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 9px;
}

.projects__property-text {
  font-size: 13px;
  line-height: 21px;
}

.projects__slider-nav {
  height: 14px;
  display: flex;
  width: 205px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.slider__item--previous {
  content: "";
  width: 42px;
  height: 13px;
  background-image: url('data:image/svg+xml,%3Csvg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M6.63807 13.276L2.29917e-05 6.638L6.63807 -3.82298e-05L7.58563 0.94753L1.89516 6.638L7.58563 12.3285L6.63807 13.276Z" fill="white"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M0.947579 5.9681L41.4556 5.9681L41.4556 7.30817L0.947578 7.30816L0.947579 5.9681Z" fill="white"/%3E%3C/svg%3E');
  background-position: center center;
  background-repeat: no-repeat;
}

.slider__item--next {
  content: "";
  width: 42px;
  height: 13px;
  background-image: url('data:image/svg+xml,%3Csvg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M35.0451 -0.000183105L41.6831 6.63786L35.0451 13.2759L34.0975 12.3283L39.788 6.63786L34.0975 0.947384L35.0451 -0.000183105Z" fill="white"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M40.7356 7.30776L0.227569 7.30776L0.22757 5.9677L40.7356 5.9677L40.7356 7.30776Z" fill="white"/%3E%3C/svg%3E%0A');
  background-position: center center;
  background-repeat: no-repeat;
}

.slider__items {
  width: 64px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.slider__item {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

.slider__item:hover,
.slider__item:active,
.slider__item--active {
  background-color: rgba(255, 255, 255, 0.3);
}

.projects__list {
  list-style: none;
  margin-bottom: 40px;
}

.projects__item {
  margin-right: 60px;
  display: inline-block;
}

.projects__item:last-child {
  margin-right: 0;
}

.projects__link {
  font-size: 14px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}
.projects__link:hover,
.projects__link:active,
.projects__link--active {
  color: $alt-color;
  border-bottom: 1px solid $alt-color;
}

.slider__photo {
  width: 100%;
  height: auto;
}

.online-control__content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #363636;
  margin-top: -320px;
}

.online-control__title {
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin-bottom: 32px;
  // background-color: red;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.online-control__title::after {
  box-sizing: border-box;
  // width: 100%;
  height: 28px;
  margin-top: 13px;
  top: 0px;
  left: 0px;
  // top: 13px;
  // border: 1px solid green;
  background-image: url('data:image/svg+xml,%3Csvg width="114" height="29" viewBox="0 0 114 29" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M0.000488281 14.5836C0.000488281 14.1574 0.345978 13.8119 0.77216 13.8119H31.2288C31.655 13.8119 32.0005 14.1574 32.0005 14.5836C32.0005 15.0097 31.655 15.3552 31.2288 15.3552H0.77216C0.345977 15.3552 0.000488281 15.0097 0.000488281 14.5836Z" fill="%23E3B873"/%3E%3Cpath d="M82.0005 14.5836C82.0005 14.1574 82.346 13.8119 82.7722 13.8119H113.229C113.655 13.8119 114 14.1574 114 14.5836C114 15.0097 113.655 15.3552 113.229 15.3552H82.7722C82.346 15.3552 82.0005 15.0097 82.0005 14.5836Z" fill="%23E3B873"/%3E%3Cpath d="M73.8511 9.76541L49.7306 0.829184C49.4221 0.715178 49.0793 0.872936 48.9655 1.1817C48.9653 1.18195 48.9653 1.1822 48.965 1.18245L46.2949 8.45059C46.1814 8.75935 46.3396 9.10187 46.6484 9.21538H46.6489L49.4448 10.2419L48.8288 11.9203C48.7155 12.229 48.8738 12.5711 49.1825 12.6846L54.7753 14.7379L54.3643 15.8567C53.9908 16.8588 54.3393 17.9868 55.2134 18.6031V21.6433H47.1974C46.8094 20.7562 46.0154 20.1122 45.0671 19.9157V18.6646C45.0671 18.3356 44.8006 18.0688 44.4713 18.0688H42.0694C41.7404 18.0688 41.4736 18.3356 41.4736 18.6646V28.1964C41.4736 28.5257 41.7404 28.7922 42.0694 28.7922H44.4713C44.8006 28.7922 45.0671 28.5257 45.0671 28.1964V26.9456C46.0154 26.7488 46.8094 26.105 47.1974 25.2177H55.2134V25.8135C55.2134 26.8006 56.0134 27.6009 57.0005 27.6009C57.9875 27.6009 58.7878 26.8006 58.7878 25.8135V19.2139C59.3293 18.9454 59.7476 18.4796 59.9561 17.9121L60.3671 16.7933L65.4004 18.6401C65.4662 18.6644 65.5354 18.6766 65.6054 18.6766C65.8552 18.6766 66.0787 18.5209 66.1649 18.2864L66.3882 17.6781C68.3268 18.0428 70.1939 16.767 70.5584 14.8287C70.6932 14.1124 70.6057 13.3721 70.3077 12.7071L73.9191 10.8527C74.2119 10.7027 74.3276 10.3437 74.1776 10.0509C74.1096 9.91792 73.9941 9.81541 73.8541 9.76366L73.8511 9.76541ZM56.4047 19.1459L56.898 19.3247C57.1225 19.4052 57.358 19.4514 57.5962 19.4617V21.6433H56.4047V19.1459ZM43.8758 27.6009H42.6652V19.2604H43.8758V27.6009ZM46.2586 24.0264C46.2576 24.7835 45.7806 25.4582 45.0671 25.7118V21.1495C45.7806 21.4028 46.2576 22.0776 46.2586 22.8349V24.0264ZM47.4687 22.8349H57.5962V24.0264H47.4687V22.8349ZM57.0005 26.4093C56.6714 26.4093 56.4047 26.1425 56.4047 25.8135V25.2177H57.5962V25.8135C57.5962 26.1425 57.3295 26.4093 57.0005 26.4093ZM59.2488 16.383L58.8378 17.5018C58.6108 18.1189 57.9265 18.4354 57.309 18.2089L56.1884 17.7983C55.5709 17.5716 55.2539 16.887 55.4806 16.2693C55.4806 16.2693 55.4806 16.2693 55.4806 16.269L55.8919 15.1509L58.9116 16.2595L59.2488 16.383ZM65.2521 17.3183L50.1523 11.7735L50.5636 10.6547L59.5111 13.9404C59.7229 14.0174 59.9604 13.9691 60.1251 13.8151L61.797 12.2413L66.4842 13.9629L65.2521 17.3183ZM69.2801 14.9899C68.9026 16.0077 67.8873 16.6438 66.807 16.539L67.7275 14.0314L69.2311 13.2571C69.4664 13.8076 69.4839 14.4272 69.2801 14.9899ZM67.2693 12.9301C67.2377 12.9328 67.2065 12.9383 67.1757 12.9466L61.8642 10.9962C61.6525 10.9185 61.4149 10.9667 61.2504 11.1212L59.5766 12.6953L47.6187 8.30408L49.8773 2.15425L72.1675 10.4124L67.2693 12.9301Z" fill="%23E3B873"/%3E%3Cpath d="M53.1292 8.70325L52.6038 10.1232M55.419 9.54328L54.8935 10.9632M57.641 10.3698L57.1155 11.7897" stroke="%23E3B873" stroke-linecap="round"/%3E%3C/svg%3E%0A');
}

.online-control__video-player {
  max-width: 817px;
  // max-height: 434px;
  // margin-bottom: 62px;
}

.online-control__video-player img {
  width: 100%;
  height: auto;
}

.online-control__text {
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  max-width: 681px;
  // margin-bottom: 91px;
}

.form {
  margin: 30px 0;
}
.form__button {
  background-color: $alt-color;
  width: 200px;
  height: 51px;
  // background-color: transparent;
  border: 1px solid $alt-color--hover;
  box-shadow: none;
  transition: background-color 0.2s;
  font-style: normal;
  // transition: none;
}
@import "helpers/adaptive";
