* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Nunito", sans-serif;
  background-color: white;
  font-weight: normal;
  box-sizing: border-box; }

.link {
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 11px; }

.link:hover {
  text-decoration: underline;
  color: #e3b873; }

.button {
  background-color: #e3b873;
  color: white;
  box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
  font-size: 11px;
  font-family: "Nunito", sans-serif;
  font-style: italic;
  text-transform: uppercase;
  border: 0;
  position: relative;
  top: 0;
  transition: top 0.1s; }

.button:hover {
  top: 1px; }

.page-wrap {
  display: flex;
  flex-direction: column; }

.page-header {
  background-color: black;
  position: sticky;
  top: 0px;
  z-index: 10; }

.header-wrap {
  height: 80px;
  max-width: 1256px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.page-logo {
  color: #e3b873;
  font-size: 11px; }

.page-nav {
  margin: 0 67px 0 95px; }

.page-nav__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0; }

.page-nav__item {
  margin-left: 47px; }

.page-nav__item:first-child {
  margin-left: 0; }

.page-nav__link {
  text-transform: uppercase; }

.page-header__link {
  color: #e3b873;
  text-decoration: underline;
  top: 0;
  position: relative;
  transition: top 0.1s;
  transition: color 0.1s; }

.page-header__link:hover {
  top: 1px;
  color: white; }

.page-header__button {
  margin-left: 45px;
  padding: 13px 33px;
  height: 37px; }

.section-wrap {
  max-width: 1236px;
  margin: 0 auto; }

.hero {
  background-image: url(../images/interior-01-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 808px;
  position: relative; }

.hero:after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  position: absolute; }

.section-content-wrap {
  padding-left: 32px;
  padding-top: 194px;
  width: 510px;
  z-index: 1;
  position: relative; }

.title {
  font-family: "Yeseva One", cursive;
  margin: 0;
  padding: 0;
  color: #e3b873;
  font-weight: normal; }

.hero__title {
  color: white;
  font-size: 40px;
  line-height: 53px;
  margin-bottom: 20px; }

.hero__title--alt-color {
  color: #e3b873; }

.hero__text {
  font-size: 22px;
  line-height: 36px;
  color: white;
  margin-bottom: 40px; }

.hero__button {
  width: 207px;
  height: 51px; }

.hero__button--transparent {
  background-color: transparent;
  border: 1px solid white;
  box-shadow: none; }

.hero__button ~ .hero__button--transparent {
  margin-left: 20px; }

@media screen and (max-width: 1300px) {
  .page-header {
    position: static; }
  .header-wrap {
    height: 57px;
    padding: 18px;
    max-width: auto; }
  .page-nav,
  .page-header__button {
    display: none; }
  .page-header__link {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    transition: none; }
  .page-header__link:hover {
    text-decoration: none;
    top: 0; }
  .section-wrap {
    max-width: auto;
    padding: 0;
    margin: 0;
    height: auto; }
  .hero {
    height: auto; }
  .section-content-wrap {
    padding: 85px 18px 61px 18px;
    width: auto; }
  .hero__title {
    font-size: 23px;
    line-height: 31px;
    margin-bottom: 16px; }
  .hero__text {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 32px; }
  .hero__button {
    display: block;
    width: 100%;
    height: 51px; }
  .hero__button ~ .hero__button--transparent {
    margin-left: 0;
    margin-top: 20px; } }
